body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	background-color: #212121;
	
	margin:0;
	padding:0;
}

.p {
	color:#dedede
}

.menu {
	margin:4rem auto;
	text-align: center;

	display: none;
}